@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
</br>
<h1>result is @ViewBag.result</h1>
<p>Use this area to provide additional information.</p>
