@{
    ViewData["Title"] = "注册成功";
}
<h2>@ViewData["Title"]</h2>
<h3>
    5秒后回到<a href="/Home/SignIn"><span style="color:#428bca">登陆</span></a>页面
</h3>

<script type="text/javascript">
    setTimeout(window.location.href='/Home/SignIn',5);
</script>
